<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Double</title>
<style type="text/css" media="screen">
	.wrap {
		margin: 0 auto;
		width: 800px;
	}
	section {
		width: 525px;
		margin-right: 25px;
		float: left;
	}
	aside {
		width: 250px;
		float: left;
	}
	footer {
		clear: both;
		border-top: 1px solid #e3e3e3;
	}
</style>
</head>

<body>
    <div class="wrap">
    <header>
    	<h1>This is a header</h1>
    </header>
    	<section>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec orci risus, rutrum sit amet lacinia vel, porta eu nisi. Mauris sed consequat ante, eget tempus risus. Morbi porttitor, lectus at rhoncus malesuada, eros lacus pretium ipsum, non rutrum nisl urna ut eros. Nullam aliquet massa ipsum, in lacinia arcu ultricies sit amet. Aliquam mi eros, eleifend id viverra ac, faucibus a sem. Aenean feugiat elit vitae tortor ultrices, vel posuere libero vulputate. Sed rutrum auctor libero non pulvinar.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec orci risus, rutrum sit amet lacinia vel, porta eu nisi. Mauris sed consequat ante, eget tempus risus. Morbi porttitor, lectus at rhoncus malesuada, eros lacus pretium ipsum, non rutrum nisl urna ut eros. Nullam aliquet massa ipsum, in lacinia arcu ultricies sit amet. Aliquam mi eros, eleifend id viverra ac, faucibus a sem. Aenean feugiat elit vitae tortor ultrices, vel posuere libero vulputate. Sed rutrum auctor libero non pulvinar.</p>
        </section>
     	<aside>
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec orci risus, rutrum sit amet lacinia vel, porta eu nisi. Mauris sed consequat ante, eget tempus risus. Morbi porttitor, lectus at rhoncus malesuada, eros lacus pretium ipsum, non rutrum nisl urna ut eros. Nullam aliquet massa ipsum, in lacinia arcu ultricies sit amet. Aliquam mi eros, eleifend id viverra ac, faucibus a sem. Aenean feugiat elit vitae tortor ultrices, vel posuere libero vulputate. Sed rutrum auctor libero non pulvinar.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec orci risus, rutrum sit amet lacinia vel, porta eu nisi. Mauris sed consequat ante, eget tempus risus. Morbi porttitor, lectus at rhoncus malesuada, eros lacus pretium ipsum, non rutrum nisl urna ut eros. Nullam aliquet massa ipsum, in lacinia arcu ultricies sit amet. Aliquam mi eros, eleifend id viverra ac, faucibus a sem. Aenean feugiat elit vitae tortor ultrices, vel posuere libero vulputate. Sed rutrum auctor libero non pulvinar.</p>
        </aside>
    <footer>
    	<p>This is a footer</p>
    </footer>
    </div>
</body>
</html>
